MYSQL_DATABASE=ems_db
MYSQL_ROOT_PASSWORD=Ems@123456
MYSQL_PORT=13306

IOT_SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/iot_db?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=UTF8&useSSL=false&allowPublicKeyRetrieval=true&allowMultiQueries=true
IOT_SPRING_DATASOURCE_USERNAME=root
IOT_SPRING_DATASOURCE_PASSWORD=Ems@123456
IOT_REPORT_PUSH_BASE_URL=http://backend:8080

REDIS_PASSWORD=123456
REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=emsuser
RABBITMQ_DEFAULT_PASS=ems@pass
RABBITMQ_DEFAULT_VHOST=ems
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

BACKEND_PORT=8080
FRONTEND_PORT=4173

SA_TOKEN_JWT_SECRET_KEY=change_me
